pip install calendar
pip install turtle
pip install time
pip install PyPDF2
pip install datetime
pip install random
pip install tkinter
pip install math
pip install PIL
pip install instaloader
pip install requests
pip install hashlib
pip install os-sys
pip install cv2
pip install numpy
pip install pyautogui
pip install smtplib
pip install twilio
pip install phonenumbers
pip install gtts
pip install playsound
pip install pytube